body{
    text-align:center;
    margin-top:100px;
}

.clip{
    font-size:100px;
    font-weight:bold;
    background:url("sunflower.jpg");
    background-size:cover;
    -webkit-background-clip:text;
    color:transparent;
}